<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="css/global.css">
  <link rel="stylesheet" href="css/register.css">
  <title>Register</title>
</head>

<body>
  <form action="/api/v1/auth/register" method="post" class="register-form">
    <input type="text" name="name" placeholder="Name">
    <input type="text" name="citizen_id" placeholder="Citizen id">
    <select name="role_id"></select>
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="phone_number" placeholder="Phone number">
    <input type="password" name="password" placeholder="Password">
    <input type="password" name="password_confirmation" placeholder="Password confirmation">
    <button type="submit">Register</button>
    <a href="/login">Login</a>
  </form>
</body>

<script>
  fetch('/api/v1/roles', { method: 'GET' })
    .then(response => response.json())
    .then(users => {
      users.forEach(user => {
        const userElement = document.createElement('option');
        userElement.value = user.id;
        userElement.innerText = user.name;
        document.querySelector('select').appendChild(userElement);
      });
    });
</script>

</html>